<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="container">
    <h2>Admin panel</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Psychologist" asp-action="Index">Psychologists</a>
        </li>
    </ul>
</div>